API_ID=21235866
API_HASH=d8ddfd490220abc6bd8e858f4318dfff
BOT_TOKEN=6388217317:AAGtNqyi5qa-tNqmCam01nXluSS74Kb5PE0
LOGGER_ID=-1001858609412
MONGO_DB_URI=mongodb+srv://KylieMusic:KylieMusic@kyliemusic.uhkbztz.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=6507819384
STRING_SESSION=BQFECJoAArB9FEvAf0cZukoet9kNgGaAXgN8vJcmYFxU2O3rhX3adhVhMJbIUY__ACDOd2GTUOwg6X8y0jGx5C_4_cCmyZ1pL5o_X-FwldftiOsNJtC6M5Q5tRPkDL4bc23v_iLPSjRf-I3ZqY5PSZMsm8R4XvtDjoXiPUL7MFwcYXGwYzCmlNkWmgVB65KXEzVOlr4MNHmlnLb1-hY_1jJ6Icj1CCYTutruy7Vco03G4pH7nckBsh3-aPd7KLqTXS2kiYwon_ILk2vs4xV3d0fitKQOSdi5dW9ddHivdIq7HKywZazUN7dnjdmFvJac9CfhFzUkIt777SjSKV6KBbg6vWscdgAAAAGTG7xxAA
